@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@keyframes floatAndZoomBackground {
      0% { transform: translateY(0) scale(1); }
      50% { transform: translateY(-12px) scale(1.025); }
      100% { transform: translateY(0) scale(1); }
    }

body{
    font-family: "Michroma", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#banniere {
  min-height: 30vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
   display: flex;
  background: #1f2937;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h1 {
    margin : 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f8f8f8;
  font-size: 7em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #2082f1;
}

.content h1:nth-child(2) {
  color: #58a6ff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
